* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", serif;
}

body {
    background-color: #fffaf3;
    color: #2b0f14;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fffaf3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-left a {
    margin-right: 25px;
    text-decoration: none;
    color: #2b0f14;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    font-size: 45px;
    font-weight: bold;
    color: #f05a28;

}

.nav-right {
    display: flex;
    align-items: center;
}

.login {
    margin-right: 20px;
    color: #f05a28;
    text-decoration: underline;
    font-size: 16px;
}

.btn-primary {
    background-color: #f05a28;
    color: #fff;
    border: none;
    padding: 18px 26px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    padding: 12px 22px;
}

.hero {
    text-align: center;
    margin-top: 120px;

}

.hero h1 {
    font-size: 64px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 40px;
    font-family: "SangBleu Kingdom", sans-serif;
}

.hero-btn {
    font-size: 15px;
    padding: 16px 25px;
}

button:hover {
    background-color: #000;
    color: #fff;
}

a:hover {
    color: #000000 !important;
}

.nav-left a:hover {
    color: #f05a28 !important;
}

/* Container */
.container {
    display: flex;
    gap: 40px;
    margin-top: 120px;
    justify-content: center;
}


.box {
    background-color: #fff;
    border: 2px solid #3a0b21;
    border-radius: 35px;
    padding: 15px 70px;
    width: 550px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.box .btn {
    margin-top: auto;
    padding: 13px 20px;
}

.box h2 {
    font-size: 44px;
    margin-bottom: 30px;
    font-weight: lighter;
    margin-top: 20px;
}

.box h1 {
    font-size: 60px;
    font-weight: lighter;
    margin: 10px 0;
    font-family: serif;
}


.box p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}


.box ul {
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
    margin-top: 60px;
}

.box ul li {
    margin-bottom: 10px;
    font-size: 17px;
    position: relative;
    padding-left: 25px;
    color: #555;
}

.box ul li i {
    margin-right: 5px;
    font-size: medium;
    font-weight: bolder;
    color: #f26b38;
}

.btn {
    background-color: #f26b38;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 40px;
}

.btn:hover {
    background-color: black;
    color: white;
}

.features-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    margin-top: 40px;
}

.features-header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.features-header p {
    font-size: 1rem;
    color: #6B6B6B;
    margin-bottom: 50px;
}


.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.feature-card {
    text-align: center;
}


.feature-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}


.feature-card h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}


.feature-card ul {
    list-style: none;
}

.feature-card ul li {
    text-align: left;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
    color: #6B6B6B;
    font-size: 0.95rem;
}

.feature-card ul li i {
    margin-right: 5px;
    font-size: medium;
    font-weight: bolder;
    color: #f26b38;
}

.pricing-section {
    padding: 60px 40px;
}

.pricing-container {
    background-color: #f7f1e8;
    border-radius: 60px;
    padding: 50px 120px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.pricing-container h1 {
    font-family: 'Playfair Display', serif;
    font-size: 46px;
    font-weight: lighter;
    color: #2b1e1e;
    margin-bottom: 24px;
}

.subtitle {
    font-size: 14px;
    color: #6b5f5f;
    margin-bottom: 40px;
}

.description {
    font-size: 13px;
    line-height: 1.6;
    color: #5a4f4f;
    max-width: 700px;
    margin: 0 auto 40px auto;
}

.link-text {
    font-size: 16px;
    color: #5a4f4f;
    margin-bottom: 50px;
}

.link-text span {
    color: #ff5a2f;
    cursor: pointer;
}

.cta-btn {
    background-color: #ff5a2f;
    color: #ffffff;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
}

.credit-pricing-section {
    padding: 80px 0 100px;
}

.credit-container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.credit-title {
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 30px;
}

.credit-description {
    max-width: 780px;
    font-size: 15px;
    line-height: 1.8;
    color: #5c4a4a;
    margin-bottom: 20px;
}

.credit-description span a {
    color: #ff4a1f;
    cursor: pointer;
}

.credit-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    margin-top: 80px;
}

.credit-card h3 {
    font-size: 20px;
    font-weight: medium;
    margin-bottom: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.credit-price {
    font-size: 15px;
    margin-bottom: 14px;
}

.credit-info {
    font-size: 15px;
    line-height: 1.7;
    color: #5c4a4a;
}


.ref-section {
    padding: 80px 0;
}

.ref-cont {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f6f0e6;
    border-radius: 80px;
    padding: 70px 60px;
    text-align: center;
}


.ref-title {
    font-family: "SangBleu Kingdom", sans-serif;
    font-size: 52px;
    font-weight: normal;
    color: #2b1e1e;
    margin-bottom: 28px;
}

.ref-text {
    max-width: 720px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 1.9;
    color: #5c4a4a;
}

.footer {
    background-color: #ea5a3a;
    color: #ffffff;
    padding: 60px 80px 40px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 64px;
    font-weight: 400;
}


.footer-buttons {
    display: flex;
    gap: 24px;
    align-items: center;
}

.link-btn {
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
}

.primary-btn {
    background: #ffffff;
    color: #ea5a3a;
    padding: 14px 24px;
    border-radius: 999px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}

.footer-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.logo {
    font-size: 32px;
}

.footer-left nav {
    display: flex;
    gap: 32px;
}

.footer-left nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}


.footer-right {
    font-size: 16px;
    opacity: 0.9;
}

.mobile-menu-btn {
    display: none;
    font-size: 32px;
    cursor: pointer;
    color: #f05a28;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fffaf3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    z-index: 999;
}

.mobile-menu a {
    padding: 12px;
    text-decoration: none;
    color: #2b0f14;
    font-size: 18px;
}

.mobile-menu a.login {
    color: #f05a28;
    font-weight: bold;
}


@media (max-width: 768px) {
    .navbar {
        padding: 10px 30px;
        
    }

    .nav-left a {
        margin-right: 14px;
        font-size: 13px;
    }

    .desktop-menu {
        display: none !important;
    }

    .mobile-menu-btn {
        display: block;
    }

    .hero h1 {
        font-size: 33px;
    }

    .container {
        flex-direction: column;
        padding: 0 25px;
    }

    .box {
        width: 100%;
        padding: 25px;
    }

    .box h2 {
        font-size: 45px;
    }

    .box h1 {
        font-size: 40px;
    }

    .box ul {
        margin-top: 30px;
        font-size: 30px;
    }

    .box ul li {
        font-size: 15px;
    }

    .pricing-section {
        width: 100%;
        padding: 40px;
    }

    .pricing-container {
        padding: 30px 40px;
    }

    .features-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .credit-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .footer-top {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .footer-left {
        flex-direction: column;
        gap: 20px;
    }
}